li.nav-item1>a {
    position: absolute;
    width: 371px;
    height: 70px;
    left: 389px;
    top: 7px;


    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

li.nav-item2>a {
    position: absolute;
    width: 371px;
    height: 70px;
    left: 537px;
    top: 7px;

    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

li.nav-item3>a {
    position: absolute;
    width: 371px;
    height: 70px;
    left: 698px;
    top: 7px;
    
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

li.nav-item4>a {
    position: absolute;
    width: 371px;
    height: 70px;
    left: 857px;
    top: 7px;
    
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

li.nav-item5>a {
    position: absolute;
    width: 371px;
    height: 70px;
    left: 978px;
    top: 7px;
    
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

li.nav-item6>a {
    position: absolute;
    width: 371px;
    height: 70px;
    left: 1151px;
    top: 7px;
    
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

a.navbar-brand>img {
    position: absolute;
    width: 134px;
    height: 70px;
    left: 117px;
    top: 45px;
}

img.vaporpng {
    margin-top: 200px;
    margin-left: 450px;
    top: 200px;
    right: 600px;
    width: 900px;

}

p.vapor {
    position: absolute;
    width: 2285px;
    height: 698px;
    left: -176px;
    top: 199px;


    
    font-style: normal;
    font-weight: 700;
    font-size: 197px;
    line-height: 259px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;

    color: #3B9CFA;

}

p.nikeair {
    position: absolute;
    width: 371px;
    height: 146px;
    left: 166px;
    top: 305px;

    /* NIKE */


    font-style: italic;
    font-weight: 750;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.09em;

    color: #FFFFFF;
}
